<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wgoweb.kokaibywgo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KoKaiByWGO">

        <activity android:name=".ui.activities.learn.AlphabetAndSoundActivity" />
        <activity android:name=".ui.activities.TextToSpeechActivity" />
        <activity android:name=".ui.activities.lessons.SectionActivity" />
        <activity android:name=".ui.activities.HomeActivity" />
        <activity android:name=".ui.activities.MainActivity" />
        <activity android:name=".ui.activities.lessons.ChapterActivity" />
        <activity android:name=".ui.activities.learn.AllVowelsActivity" />
        <activity android:name=".ui.activities.learn.AllAlphabetsActivity" />
        <activity android:name=".ui.activities.quiz.QuizVowelActivity" />
        <activity android:name=".ui.activities.learn.LearnVowelsActivity" />
        <activity android:name=".ui.activities.learn.LearnAlphabetsActivity" />
        <activity android:name=".ui.activities.ResultActivity" />
        <activity android:name=".ui.activities.quiz.QuizAlphabetActivity" />
        <activity
            android:name=".ui.activities.lessons.SentenceActivity"
            android:theme="@style/Theme.KoKaiByWGO.NoActionBar" />
        <activity android:name=".ui.activities.quiz.QuizLessonActivity"></activity>
        <activity
            android:name=".ui.activities.SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>