<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wgoweb.kokaibywgo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KoKaiByWGO">

        <activity
            android:name=".ui.activities.learn.AlphabetAndSoundActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activities.TextToSpeechActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.lessons.SectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.lessons.ChapterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.learn.AllVowelsActivity" />
        <activity
            android:name=".ui.activities.learn.AllAlphabetsActivity" />
        <activity
            android:name=".ui.activities.quiz.QuizVowelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.learn.LearnVowelsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.learn.LearnAlphabetsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.ResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.quiz.QuizAlphabetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.lessons.SentenceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.KoKaiByWGO.NoActionBar" />
        <activity
            android:name=".ui.activities.quiz.QuizLessonActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activities.SplashActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>